* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(1200px 700px at 70% 25%, rgba(40,140,255,.2), transparent 60%),
              #050b18;
  color: #eaf1ff;
  font-family: system-ui, -apple-system, Segoe UI, Roboto;
}
